*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    height: 80px;
    width: 100%;
    background: #c2147a;
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 50px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 5px;
}

nav ul #icon {
    margin-right: 0px;
    padding-top: 50px;
    color: red;
    font-size: 23px;
}

nav li{
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;
}

nav a {
    color: white;
    font-size: 18px;
    padding: 7px 10px;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

nav ul #icon a {
    color: white;
    border: none;
    padding: 0;
}

nav ul #icon a:hover{
    color: red;
}